<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col" *ngFor="let product of products">
    <div class="card  mb-3" style="max-width: 18rem;">
      <div class="card-header bg-transparent">
        <h3 class="card-title"><b>{{product.name}}</b></h3>
      </div>
      <div class="card-body">
        <p class="card-text"><b>Disponible: </b>{{product.enabled}}</p>
        <p class="card-text"><b>Cantidad Disponible: </b>{{product.inInventory}}</p>
        <p class="card-text"><b>Cantidad minima: </b>{{product.min}}</p>
        <p class="card-text"><b>Cantidad maxima: </b>{{product.max}}</p>
        <p class="card-text"><b>Precio : </b>{{product.price}}$</p>
      </div>
      <div class="card-footer bg-transparent">
        <a class="btn btn-outline-danger addButton">Añadir</a>
      </div>
    </div>
  </div>
  </div>