<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
    <div class="card  mb-3" style="max-width: 18rem;">
      <div class="card-header bg-transparent">
        <h3 class="card-title"><b>Keyboard</b></h3>
      </div>
      <div class="card-body">
        <p class="card-text"><b>Disponible: </b>si</p>
        <p class="card-text"><b>Cantidad Disponible: </b>50</p>
        <p class="card-text"><b>Cantidad minima: </b>10</p>
        <p class="card-text"><b>Cantidad maxima: </b>20</p>
      </div>
      <div class="card-footer bg-transparent">
        <a class="btn btn-outline-danger addButton">Añadir</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card  mb-3" style="max-width: 18rem;">
      <div class="card-header bg-transparent">
        <h3 class="card-title"><b>Keyboard</b></h3>
      </div>
      <div class="card-body">
        <p class="card-text"><b>Disponible: </b>si</p>
        <p class="card-text"><b>Cantidad Disponible: </b>50</p>
        <p class="card-text"><b>Cantidad minima: </b>10</p>
        <p class="card-text"><b>Cantidad maxima: </b>20</p>
      </div>
      <div class="card-footer bg-transparent">
        <a class="btn btn-outline-danger addButton">Añadir</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card  mb-3" style="max-width: 18rem;">
      <div class="card-header bg-transparent">
        <h3 class="card-title"><b>Keyboard</b></h3>
      </div>
      <div class="card-body">
        <p class="card-text"><b>Disponible: </b>si</p>
        <p class="card-text"><b>Cantidad Disponible: </b>50</p>
        <p class="card-text"><b>Cantidad minima: </b>10</p>
        <p class="card-text"><b>Cantidad maxima: </b>20</p>
      </div>
      <div class="card-footer bg-transparent">
        <a class="btn btn-outline-danger addButton">Añadir</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card  mb-3" style="max-width: 18rem;">
      <div class="card-header bg-transparent">
        <h3 class="card-title"><b>Keyboard</b></h3>
      </div>
      <div class="card-body">
        <p class="card-text"><b>Disponible: </b>si</p>
        <p class="card-text"><b>Cantidad Disponible: </b>50</p>
        <p class="card-text"><b>Cantidad minima: </b>10</p>
        <p class="card-text"><b>Cantidad maxima: </b>20</p>
      </div>
      <div class="card-footer bg-transparent">
        <a class="btn btn-outline-danger addButton">Añadir</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card  mb-3" style="max-width: 18rem;">
      <div class="card-header bg-transparent">
        <h3 class="card-title"><b>Keyboard</b></h3>
      </div>
      <div class="card-body">
        <p class="card-text"><b>Disponible: </b>si</p>
        <p class="card-text"><b>Cantidad Disponible: </b>50</p>
        <p class="card-text"><b>Cantidad minima: </b>10</p>
        <p class="card-text"><b>Cantidad maxima: </b>20</p>
      </div>
      <div class="card-footer bg-transparent">
        <a class="btn btn-outline-danger addButton">Añadir</a>
      </div>
    </div>
  </div>
  </div>